bin/
obj/
.vs/
[Dd]ebug/
[Rr]elease/
[Mm]igrations/
ref/

.vscode/
.vscode-test/

*.userprefs
*.userprefs.lock
*.suo
.DS_Store

.idea/
*.sln.iml

[Tt]humbs.db

packages/
*.nupkg
*.snupkg

*.log
*.dll
*.dat
*.txt
*.props
*.csproj.user