bin/
obj/
.vs/
[Dd]ebug/
[Rr]elease/
[Mm]igrations/

.vscode/
.vscode-test/

*.userprefs
*.userprefs.lock
*.suo
.DS_Store
*.csproj
*.cache
*.deps.json
*.runtimeconfig.json
*.txt
*.assets.json
*.nuget.cache

.idea/
*.sln.iml

[Tt]humbs.db

packages/
*.nupkg
*.snupkg

*.log
*.dll
*.dat
*.txt
*.props

