<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="allfile" fileName="${basedir}\logs\all-logs-${shortdate}.log"
				layout="${longdate}||${event-properties:item=EventId_Id:whenEmpty=0}||${level:uppercase=true}||${logger}||${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="exeptions" fileName="${basedir}\logs\all-error-logs-${shortdate}.log"
				layout="${longdate}||${event-properties:item=EventId_Id:whenEmpty=0}||${level:uppercase=true}||${logger}||${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="requestTimeInfos" fileName="${basedir}\logs\request-time-${shortdate}.log"
				layout="${longdate}||${event-properties:item=EventId_Id:whenEmpty=0}||${level:uppercase=true}||${logger}||${message} ${exception:format=tostring}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exeptions" />
    <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="requestTimeInfos" />
	</rules>
</nlog>